body{
	color:blue;
	font-family: Arial;
}

p{
	text-align: center;
}

h1{
	text-align: center;
	color: red;
}
.first{text-align: left}
h2{
	text-align: center;
	color:purple;
}
table,th,td{border: 1px solid black;
            width: 100%
}
nav{text-align: center;
     justify-content: center;
     padding: 0,
     margin:0
     font-weight:bold;
}